<header class="menu js-menu bg-primary">
	<div class="container">	
		<h1 class="menu-logo">Petrobras | BRBI</h1>
		<nav class="menu-nav">
			<ul>
				<li><a href="/cadastro">Cadastro</a></li>
				<li><a href="/resultado" class="tabSelecionada">Resultados</a></li>
				<li><a href="/inventario">Inventários</a></li>
				<li><a href="/exportar">Exportar</a></li>
				<li><a href="/dicas">Dicas</a></li>
			</ul>
		</nav>
	</div>
</header>