	<footer class="footer container inativo">
		<p>Este é um projeto Petrobras. Em caso de dúvida, entre em contato com Vinicius Holanda Monteiro (ANKG).</p>
	</footer>
	<!-- <script src="https://kit.fontawesome.com/7c5dd652ac.js" crossorigin="anonymous"></script> -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/script.js"></script>
</html>