<div id="btncuiFerritic" class=" mecanismoDanoBox">				
	<div>
		<ul>
			<li>
				<label for="corrosionTypeCUIFerritic">Corrosion Type</label>
				<select id="corrosionTypeCUIFerritic">
					<option value=""></option>
					<option value="general">General</option>
					<option value="localized">Localized</option>
				</select>
			</li>
			<li>
				<label for="insulationType">Insulation Type</label>
				<select id="insulationType">
					<option value=""></option>
					<option value="1.25">Unknown/unspecified</option>
					<option value="0.75">Foamglass</option>
					<option value="1">Pearlite</option>
					<option value="1.25">Fiberglass</option>
					<option value="1.25">Mineral wool</option>
					<option value="1.25">Calcium silicate</option>
					<option value="1.25">Asbestos</option>
				</select>
			</li>
			<li class="revisar">
				<label for="lastInspectionCUIFerritic">Last Inspecition Date CUIFerritic</label>
				<input id="lastInspectionCUIFerritic" type="date" max="9999-12-31">
			</li>
			<li class="revisar">
				<label for="trdeCui">Last Inspection Known Thickness (mm)</label>
				<input id="trdeCui" type="number" step="any" min="0">
			</li>
			<li class="revisar">
				<label for="lastCoatingDateCUI">Last Coating Date</label>
				<input id="lastCoatingDateCUI" type="date" max="9999-12-31">
			</li>
			<li>
				<label for="coatingQualityAplicationCUI">Coating Quality Aplication</label>
				<select id="coatingQualityAplicationCUI">
					<option value=""></option>
					<option value="poor">Poor or No Coating</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select>
			</li>
			<li class="comentar">
				<label for="driverCUIFerritic">Driver (Atmospheric Condition)</label>
				<select id="driverCUIFerritic">
					<option value=""></option>
					<option value="severe">Severe</option>
					<option value="moderate">Moderate</option>
					<option value="mild">Mild</option>
					<option value="dry">Dry</option>
				</select>
			</li>
			<li class="comentar">
				<label for="fcmCUIFerritic">Complexity</label>
				<select id="fcmCUIFerritic">
					<option value=""></option>
					<option value="0.75">Below Average</option>
					<option value="1">Average</option>
					<option value="1.25">Above Average</option>
				</select>
			</li>
			<li class="comentar">
				<label for="ficCUIFerritic">Insulation Condition</label>
				<select id="ficCUIFerritic">
					<option value=""></option>
					<option value="1.25">Below Average</option>
					<option value="1">Average</option>
					<option value="0.75">Above Average</option>
				</select>
			</li>
			<li class="comentar">
				<label for="feqCUIFerritic">Feq</label>
				<select id="feqCUIFerritic">
					<option value=""></option>
					<option value="2">Design that allows water to pool and increase metal loss rates or other such configuration that does not allow water egress and/or does not allow for proper coating maintenance.</option>
					<option value="1">Otherwise</option>
				</select>
			</li>
			<li class="comentar">
				<label for="fifCUIFerritic">Adjustment for Interface - Fif</label>
				<select id="fifCUIFerritic">
					<option value=""></option>
					<option value="2">The piping has an interface where it enters either soil or water.</option>
					<option value="1">Otherwise</option>
				</select>
			</li>
			<li>
				<label for="confidenceDataCUIFerritic">Data Confidence Level</label>
				<select id="confidenceDataCUIFerritic">
					<option value=""></option>
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select>
			</li>
		</ul>
	</div>
	<div>
		<ul>
			<li class="revisar">
				<label for="N_A_CUIFerritic">N_A_CUIFerritic</label>
				<input id="N_A_CUIFerritic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_B_CUIFerritic">N_B_CUIFerritic</label>
				<input id="N_B_CUIFerritic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_C_CUIFerritic">N_C_CUIFerritic</label>
				<input id="N_C_CUIFerritic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_D_CUIFerritic">N_D_CUIFerritic</label>
				<input id="N_D_CUIFerritic" type="number" step="1" min="0" max="6">
			</li>	
		</ul>
	</div>
</div>