<div id="btncuiExtclsccAustenitic" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedCUIExtClScc">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedCUIExtClScc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedCUIExtClScc">Cracks Removed?</label>
			<select id="crackingConfirmedCUIExtClScc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="corrosionTypeCUIExtClScc">Corrosion Type</label>
			<select id="corrosionTypeCUIExtClScc">
				<option value=""></option>
				<option value="general">General</option>
				<option value="localized">Localized</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastCoatingCUIExtClScc">Last Coating Date</label>
			<input id="lastCoatingCUIExtClScc" type="date" max="9999-12-31">
		</li>
		<li>
			<label for="qualidadePinturaCUIExtClScc">Coating Quality Aplication</label>
			<select id="qualidadePinturaCUIExtClScc">
				<option value=""></option>
				<option value="poor">Poor or No Coating</option>
				<option value="medium">Medium</option>
				<option value="high">High</option>
			</select>
		</li>
		<li class="comentar">
			<label for="driverCUIExtClScc">Driver (Atmospheric Condition)</label>
			<select id="driverCUIExtClScc">
				<option value=""></option>
				<option value="severe">Severe</option>
				<option value="moderate">Moderate</option>
				<option value="mild">Mild</option>
				<option value="dry">Dry</option>
			</select>
		</li>
		<li class="comentar">
			<label for="fcmCUIExtClScc">Complexity</label>
			<select id="fcmCUIExtClScc">
				<option value=""></option>
				<option value="0.75">Below Average</option>
				<option value="1">Average</option>
				<option value="1.25">Above Average</option>
			</select>
		</li>
		<li class="comentar">
			<label for="ficCUIExtClScc">Insulation Condition</label>
			<select id="ficCUIExtClScc">
				<option value=""></option>
				<option value="1.25">Below Average</option>
				<option value="1">Average</option>
				<option value="0.75">Above Average</option>
			</select>
		</li>
		<li>
			<label for="containsChloridesCUIExtClScc">Insulation Contains Chlorides?</label>
			<select id="containsChloridesCUIExtClScc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastInspectionCUIExtClScc">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionCUIExtClScc" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_CUIExtClScc">N_A_CUIExtClScc</label>
			<input id="N_A_CUIExtClScc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_CUIExtClScc">N_B_CUIExtClScc</label>
			<input id="N_B_CUIExtClScc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_CUIExtClScc">N_C_CUIExtClScc</label>
			<input id="N_C_CUIExtClScc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_CUIExtClScc">N_D_CUIExtClScc</label>
			<input id="N_D_CUIExtClScc" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>