<div id="btnextclsccAustenitic" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedExtClScc">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedExtClScc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedExtClScc">Cracks Removed?</label>
			<select id="crackingConfirmedExtClScc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="corrosionTypeExtClScc">Corrosion Type</label>
			<select id="corrosionTypeExtClScc">
				<option value=""></option>
				<option value="general">General</option>
				<option value="localized">Localized</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastCoatingExtClScc">Last Coating Date</label>
			<input id="lastCoatingExtClScc" type="date" max="9999-12-31">
		</li>
		<li>
			<label for="qualidadePinturaExtClScc">Coating Quality Aplication</label>
			<select id="qualidadePinturaExtClScc">
				<option value=""></option>
				<option value="poor">Poor or No Coating</option>
				<option value="medium">Medium</option>
				<option value="high">High</option>
			</select>
		</li>
		<li class="comentar">
			<label for="driverExtClScc">Driver (Atmospheric Condition)</label>
			<select id="driverExtClScc">
				<option value=""></option>
				<option value="severe">Severe</option>
				<option value="moderate">Moderate</option>
				<option value="mild">Mild</option>
				<option value="dry">Dry</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastInspectionExtClScc">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionExtClScc" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_ExtClScc">N_A_ExtClScc</label>
			<input id="N_A_ExtClScc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_ExtClScc">N_B_ExtClScc</label>
			<input id="N_B_ExtClScc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_ExtClScc">N_C_ExtClScc</label>
			<input id="N_C_ExtClScc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_ExtClScc">N_D_ExtClScc</label>
			<input id="N_D_ExtClScc" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>