<div id="btnexternalFerritic" class=" mecanismoDanoBox">				
	<div>
		<ul>
			<li>
				<label for="hasInsulation">Has Insulation?</label>
				<select id="hasInsulation">
					<option value=""></option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</li>
			<li>
				<label for="corrosionTypeExternalFerritic">Corrosion Type</label>
				<select id="corrosionTypeExternalFerritic">
					<option value=""></option>
					<option value="general">General</option>
					<option value="localized">Localized</option>
				</select>
			</li>
			<li class="revisar">
				<label for="lastInspectionExternalFerritic">Last Inspection External Ferritic</label>
				<input id="lastInspectionExternalFerritic" type="date" max="9999-12-31">
			</li>
			<li class="revisar">
				<label for="trde">Last Inspection Known Thickness (mm)</label>
				<input id="trde" type="number" step="any" min="0">
			</li>
			<li class="revisar">
				<label for="lastCoatingDateExternal">Last Coating Date</label>
				<input id="lastCoatingDateExternal" type="date" max="9999-12-31">
			</li>
			<li>
				<label for="coatingQualityAplicationExternal">Coating Quality Aplication</label>
				<select id="coatingQualityAplicationExternal">
					<option value=""></option>
					<option value="poor">Poor or No Coating</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select>
			</li>
			<li class="comentar">
				<label for="driverExternalFerritic">Driver (Atmospheric Condition)</label>
				<select id="driverExternalFerritic">
					<option value=""></option>
					<option value="severe">Severe</option>
					<option value="moderate">Moderate</option>
					<option value="mild">Mild</option>
					<option value="dry">Dry</option>
				</select>
			</li>
			<li class="comentar">
				<label for="feqExternal">Feq</label>
				<select id="feqExternal">
					<option value=""></option>
					<option value="2">Design that allows water to pool and increase metal loss rates or other such configuration that does not allow water egress and/or does not allow for proper coating maintenance.</option>
					<option value="1">Otherwise</option>
				</select>
			</li>
			<li class="comentar">
				<label for="fifExternal">Adjustment for Interface - Fif</label>
				<select id="fifExternal">
					<option value=""></option>
					<option value="2">The piping has an interface where it enters either soil or water.</option>
					<option value="1">Otherwise</option>
				</select>
			</li>
			<li>
				<label for="confidenceDataExternalFerritic">Data Confidence Level</label>
				<select id="confidenceDataExternalFerritic">
					<option value=""></option>
					<option value="low">Low</option>
					<option value="medium">Medium</option>
					<option value="high">High</option>
				</select>
			</li>
		</ul>
	</div>
	<div>
		<ul>
			<li class="revisar">
				<label for="N_A_ExternaFerritic">N_A_ExternaFerritic</label>
				<input id="N_A_ExternaFerritic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_B_ExternaFerritic">N_B_ExternaFerritic</label>
				<input id="N_B_ExternaFerritic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_C_ExternaFerritic">N_C_ExternaFerritic</label>
				<input id="N_C_ExternaFerritic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_D_ExternaFerritic">N_D_ExternaFerritic</label>
				<input id="N_D_ExternaFerritic" type="number" step="1" min="0" max="6">
			</li>	
		</ul>
	</div>
</div>