<div name="" id="btnhicSohicH2S" class=" mecanismoDanoBox">				
	<ul>
		<li class="row justify-content-md-center mb-2">
			<label class="col-sm-6 col-form-label" for="crackingConfirmedHicSohicH2S">Cracking is confirmed to be present?</label>
			<div class="col-sm-5">
				<select class="form-control" name="crackingConfirmedHicSohicH2S" id="crackingConfirmedHicSohicH2S">
					<option value=""></option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</div>
		</li>
		<li class="row justify-content-md-center mb-2">
			<label class="col-sm-6 col-form-label" for="cracksRemovedHicSohicH2S">Cracks Removed?</label>
			<div class="col-sm-5">
				<select class="form-control" name="crackingConfirmedHicSohicH2S" id="crackingConfirmedHicSohicH2S">
					<option value=""></option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</div>
		</li>
		<li class="row justify-content-md-center mb-2">
			<label class="col-sm-6 col-form-label" for="pHOfWaterHicSohicH2S">pH of Water</label>
			<div class="col-sm-5">
				<select class="form-control" name="pHOfWaterHicSohicH2S" id="pHOfWaterHicSohicH2S">
					<option value=""></option>
					<option value="<5-5">&lt 5,5</option>
					<option value="5-5to7-5">5,5 to 7,5</option>
					<option value="5-5to7-5">7,6 to 8,3</option>
					<option value="5-5to7-5">8,4 to 8,9</option>
					<option value=">9">&gt 9,0</option>
				</select>
			</div>
		</li>
		<li class="row justify-content-md-center mb-2">
			<label class="col-sm-6 col-form-label" for="H2SContentHicSohicH2S">H2S Content of Water</label>
			<div class="col-sm-5">
				<select class="form-control" name="H2SContentHicSohicH2S" id="H2SContentHicSohicH2S">
					<option value=""></option>
					<option value="<50">&lt 50 ppm</option>
					<option value="50to1000">50 to 1000 ppm</option>
					<option value="1000to10000">1000 to 10000 ppm</option>
					<option value=">10000">&gt 10000 ppm</option>
				</select>
			</div>
		</li>
		<li class="row justify-content-md-center mb-2">
			<label class="col-sm-6 col-form-label" for="cyanidesHicSohicH2S">Cyanides are present?</label>
			<div class="col-sm-5">
				<select class="form-control" name="cyanidesHicSohicH2S" id="cyanidesHicSohicH2S">
					<option value=""></option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</div>
		</li>
		<li class="row justify-content-md-center mb-2">
			<label class="col-sm-6 col-form-label" for="productFormHicSohicH2S">Sulfur Content / Product Form</label>
			<div class="col-sm-5">
				<select class="form-control" name="productFormHicSohicH2S" id="productFormHicSohicH2S">
					<option value=""></option>
					<option value="high">High Sulfur Steel a &gt 0.01% S</option>
					<option value="low">Low Sulfur Steel &#8804 .01% S</option>
					<option value="productForm">Product Form—Seamless/Extruded Pipe</option>
				</select>
			</div>
		</li>
		<li class="row justify-content-md-center mb-2">
			<label class="col-sm-6 col-form-label" for="fomHicSohicH2S">On-line Monitoring Method</label>
			<div class="col-sm-5">
				<select class="form-control" name="fomHicSohicH2S" id="fomHicSohicH2S">
					<option value=""></option>
					<option value="1">None</option>
					<option value="2">Key process variables</option>
					<option value="2">Hydrogen probes</option>
					<option value="4">Key process variables and hydrogen probes</option>
				</select>
			</div>
		</li>
		<li class="row justify-content-md-center mb-2 revisar">
			<label class="col-sm-6 col-form-label" for="lastInspectionHicSohicH2S">Date Last Level A/B/C Inspection</label>
			<div class="col-sm-5">
				<input class="form-control" name="lastInspectionHicSohicH2S" id="lastInspectionHicSohicH2S" type="date" max="9999-12-31">
			</div>
		</li>
		<li class="row justify-content-md-center mb-2 revisar">
			<label class="col-sm-6 col-form-label" for="N_A_hicSoHicH2S">N_A_hicSohicH2S</label>
			<div class="col-sm-5">
				<input class="form-control" name="N_A_hicSoHicH2S" id="N_A_hicSoHicH2S" type="number" step="1" min="0" max="6">
			</div>
		</li>	
		<li class="row justify-content-md-center mb-2 revisar">
			<label class="col-sm-6 col-form-label" for="N_B_hicSoHicH2S">N_B_hicSohicH2S</label>
			<div class="col-sm-5">
				<input class="form-control" name="N_B_hicSoHicH2S" id="N_B_hicSoHicH2S" type="number" step="1" min="0" max="6">
			</div>
		</li>	
		<li class="row justify-content-md-center mb-2 revisar">
			<label class="col-sm-6 col-form-label" for="N_C_HicSohicH2S">N_C_hicSohicH2S</label>
			<div class="col-sm-5">
				<input class="form-control" name="N_C_HicSohicH2S" id="N_C_HicSohicH2S" type="number" step="1" min="0" max="6">
			</div>
		</li>	
		<li class="row justify-content-md-center mb-2 revisar">
			<label class="col-sm-6 col-form-label" for="N_D_HicSohicH2S">N_D_hicSohicH2S</label>
			<div class="col-sm-5">
				<input class="form-control" name="N_D_HicSohicH2S" id="N_D_HicSohicH2S" type="number" step="1" min="0" max="6">
			</div>
		</li>	
	</ul>
</div>