<div id="btnhicSohicHF" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedHicSohicHF">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedHicSohicHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedHicSohicHF">Cracks Removed?</label>
			<select id="crackingConfirmedHicSohicHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="presentHicSohicHF">HF present?</label>
			<select id="presentHicSohicHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="isCarbonSteelHicSohicHF">Material is Carbon Steel?</label>
			<select id="presentHicSohicHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="productFormHicSohicHF">Sulfur Content / Product Form</label>
			<select id="productFormHicSohicHF">
				<option value=""></option>
				<option value="low">Low Sulfur Steel &#8804 .01% S</option>
				<option value="high">High Sulfur Steel a &gt 0.01% S</option>
				<option value="productForm">Product Form—Seamless/Extruded Pipe</option>
			</select>
		</li>
		<li>
			<label for="fomHicSohicHF">On-line Monitoring Method</label>
			<select id="fomHicSohicHF">
				<option value=""></option>
				<option value="1">None</option>
				<option value="2">Key process variables</option>
				<option value="2">Hydrogen probes</option>
				<option value="4">Key process variables and hydrogen probes</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastInspectionHicSohicHF">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionHicSohicHF" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_HicSohicHF">N_A_HicSohicHF</label>
			<input id="N_A_HicSohicHF" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_HicSohicHF">N_B_HicSohicHF</label>
			<input id="N_B_HicSohicHF" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_HicSohicHF">N_C_HicSohicHF</label>
			<input id="N_C_HicSohicHF" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_HicSohicHF">N_D_HicSohicHF</label>
			<input id="N_D_HicSohicHF" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>