<div id="btnHTHA" class=" mecanismoDanoBox">				
	<p>Nota de revisão: If all of the following are true, then the component should be evaluated for susceptibility to HTHA.
		a) The material is carbon steel, C-½ Mo, or a Cr-Mo low alloy steel (such as ½ Cr-½ Mo, 1 Cr-½ Mo, 1¼
		Cr-½ Mo, 2¼ Cr-1 Mo, 3 Cr-1 Mo, 5 Cr-½ Mo, 7 Cr-1 Mo, and 9 Cr-1 Mo).
		b) The operating temperature is greater than 177 °C (350 °F).
		c) The operating hydrogen partial pressure is greater than 0.345 MPa (50 psia).<br>.
	</p>
	<ul>
		<li>
			<label for="materialHTHA">Material</label>
			<select id="materialHTHA">
				<option value=""></option>
				<option value="">Carbon steel</option>
				<option value="">C-½ Mo or Cr-Mo low alloy steel (such as ½ Cr-½ Mo, 1 Cr-½ Mo, 1¼ Cr-½ Mo, 2¼ Cr-1 Mo, 3 Cr-1 Mo, 5 Cr-½ Mo, 7 Cr-1 Mo)</option>
				<option value="">9 Cr-1 Mo</option>
				<option value="">Others</option>
			</select>
		</li>
		<li>
			<label for="historicalHTHA">Operating hydrogen partial pressure, MPa (psia)</label>
			<input id="historicalHTHA" type="number" step="any">
		</li>
	</ul>
</div>