<div id="btnsccChloride" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedChloride">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedChloride">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedChloride">Cracks Removed?</label>
			<select id="crackingConfirmedChloride">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="pHOfWaterChloride">pH of Water</label>
			<select id="pHOfWaterChloride">
				<option value=""></option>
				<option value="≤10">&#8804 10</option>
				<option value="maior10">&gt 10</option>
			</select>									
		</li>
		<li>
			<label for="ConcentrationChloride">Cl- Concentration (ppm)</label>
			<select id="ConcentrationChloride">
				<option value=""></option>
				<option value="1to10">1 to 10</option>
				<option value="11to100">11 to 100</option>
				<option value="101to1000">101 to 10000</option>
				<option value=">1000">&gt1000 </option>
			</select>
		</li>
		<li class="revisar">
			<label>Temperatura de Operação (°C)</label>
			<input type="number" step="any">
		</li>
		<li class="revisar">
			<label for="lastInspectionChloride">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionChloride" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_Chloride">N_A_Chloride</label>
			<input id="N_A_Chloride" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_Chloride">N_B_Chloride</label>
			<input id="N_B_Chloride" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_Chloride">N_C_Chloride</label>
			<input id="N_C_Chloride" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_Chloride">N_D_Chloride</label>
			<input id="N_D_Chloride" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>