<div id="btnsccAmine" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedAmine">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedAmine">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedAmine">Cracks Removed?</label>
			<select id="cracksRemovedAmine">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="richLeanAmine">Contains rich or lean amine?</label>
			<select id="richLeanAmine">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="meaDipaExposed">Exposed to MEA or DIPA?</label>
			<select id="meaDipaExposed">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="deaDipaExposed">Exposed to DEA?</label>
			<select id="deaDipaExposed">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastInspectionSccAmine">Date Last Level A/B/C Inspection SCC Amine</label>
			<input id="lastInspectionSccAmine" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_Amine">N_A_Amine</label>
			<input id="N_A_Amine" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_Amine">N_B_Amine</label>
			<input id="N_B_Amine" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_Amine">N_C_Amine</label>
			<input id="N_C_Amine" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_Amine">N_D_Amine</label>
			<input id="N_D_Amine" type="number" step="1" min="0" max="6">
		</li>	
		</ul>
</div>