<div id="btnsccSulfide" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedSulfide">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedSulfide">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedSulfide">Cracks Removed?</label>
			<select id="crackingConfirmedSulfide">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="pHOfWaterSulfide">pH of Water</label>
			<select id="pHOfWaterSulfide">
				<option value=""></option>
				<option value="<5-5">&lt 5,5</option>
				<option value="5-5to7-5">5,5 to 7,5</option>
				<option value="5-5to7-5">7,6 to 8,3</option>
				<option value="5-5to7-5">8,4 to 8,9</option>
				<option value=">9">&gt 9,0</option>
			</select>
		</li>
		<li>
			<label for="H2SContentSulfide">H2S Content of Water</label>
			<select id="H2SContentSulfide">
				<option value=""></option>
				<option value="<50">&lt 50 ppm</option>
				<option value="50to1000">50 to 1000 ppm</option>
				<option value="1000to10000">1000 to 10000 ppm</option>
				<option value=">10000">&gt 10000 ppm</option>
			</select>
		</li>
		<li>
			<label for="cyanidesSulfide">Cyanides are present?</label>
			<select id="cyanidesSulfide">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="maxBrinnellHardness">Max Brinnell Hardness</label>
			<input id="maxBrinnellHardness" type="number" step="any" min="0">
		</li>
		<li class="revisar">
			<label for="lastInspectionSccSulfide">Date Last Level A/B/C Inspection SCC Sulfide</label>
			<input id="lastInspectionSccSulfide" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_Sulfide">N_A_Sulfide</label>
			<input id="N_A_Sulfide" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_Sulfide">N_B_Sulfide</label>
			<input id="N_B_Sulfide" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_Sulfide">N_C_Sulfide</label>
			<input id="N_C_Sulfide" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_Sulfide">N_D_Sulfide</label>
			<input id="N_D_Sulfide" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>