<%- include('./partials/head.ejs'); %>
<body id="body-login">
    <div class="loginBox">
        <h2 class="loginText"> RBI | Petrobras </h2>
		<form action="/authenticate" method="POST">
			<fieldset>
				<label class="labelText" for="user">User</label>
				<input type="text" id="user" name="user">
				<br>	
				<label class="labelText" for="password">Password</label>
				<input type="password" id="password" name="password">
				
				<button type="submit" class="btn btnBlue btn-block">Entrar</button>
			</fieldset>
		</form>
	</div>
</body>
<%- include('./partials/footer.ejs'); %>