<!------------------------------ SELEÇÃO MECANISMOS DE DANO ----------------------------------------->
<div class="dados-componente">
	<h3 class="titulo">Mecanismos de Dano Ativos</h3>
	
	<div class="flag-dm border border-success text-dark rounded">
		<ul class="js-dm-chb">
			<li>	
				<input type="checkbox" name="thinning" id="thinning" onclick="return false" checked>
				<label for="thinning">Thinning</label>
			</li>
			<li>	
				<input type="checkbox" name="lining" id="lining">
				<label for="lining">Lining</label>
			</li>	
			<li>	
				<input type="checkbox" name="sccCaustic" id="sccCaustic">
				<label for="sccCaustic">SCC Caustic</label>
			</li>
			<li>	
				<input type="checkbox" name="sccAmine" id="sccAmine">
				<label for="sccAmine">SCC Amine</label>
			</li>
			<li>	
				<input type="checkbox" name="sccSulfide" id="sccSulfide">
				<label for="sccSulfide">SCC Sulfide</label>
			</li>	
			<li>	
				<input type="checkbox" name="hicSohicH2S" id="hicSohicH2S">
				<label for="hicSohicH2S">HIC/SOHIC-H2S</label>
			</li>	
			<li>	
				<input type="checkbox" name="acscc" id="acscc">
				<label for="acscc">ACSCC</label>
			</li>	
			<li>	
				<input type="checkbox" name="pascc" id="pascc">
				<label for="pascc">PASCC</label>
			</li>	
			<li>	
				<input type="checkbox" name="sccChloride" id="sccChloride">
				<label for="sccChloride">SCC Chloride</label>
			</li>	
			<li>	
				<input type="checkbox" name="hscHF" id="hscHF">
				<label for="hscHF">HSC-HF</label>
			</li>		
			<li>	
				<input type="checkbox" name="hicSohicHF" id="hicSohicHF">
				<label for="hicSohicHF">HIC/SOHIC-HF</label>
			</li>					
			<li>	
				<input type="checkbox" name="externalFerritic" id="externalFerritic">
				<label for="externalFerritic">External Ferritic</label>
			</li>
			<li>	
				<input type="checkbox" name="cuiFerritic" id="cuiFerritic">
				<label for="cuiFerritic">CUI Ferritic</label>
			</li>
			<li>	
				<input type="checkbox" name="extclsccAustenitic" id="extclsccAustenitic">
				<label for="extclsccAustenitic">EXTCLSCC Aust.</label>
			</li>
			<li>	
				<input type="checkbox" name="cuiExtclsccAustenitic" id="cuiExtclsccAustenitic">
				<label for="cuiExtclsccAustenitic">CUI EXTCLSCC Austenitic</label>
			</li>
			<li>	
				<input type="checkbox" name="htha" id="htha">
				<label for="htha">HTHA</label>
			</li>
			<li>	
				<input type="checkbox" name="brittleFracture" id="brittleFracture">
				<label for="brittleFracture">Brittle Fracture</label>
			</li>
			<li>	
				<input type="checkbox" name="lowAlloySteelEmbrittlement" id="lowAlloySteelEmbrittlement">
				<label for="lowAlloySteelEmbrittlement">Low-Alloy Embrittlement</label>
			</li>
			<li>	
				<input type="checkbox" name="embrittlement885F" id="embrittlement885F">
				<label for="embrittlement885F">885°F Embrittlement</label>
			</li>		
			<li>	
				<input type="checkbox" name="sigmaPhaseEmbrittlement" id="sigmaPhaseEmbrittlement">
				<label for="sigmaPhaseEmbrittlement">Sigma Phase Embrittlement</label>
			</li>	
			<li>	
				<input type="checkbox" name="pipingMechanicalFatigue" id="pipingMechanicalFatigue">
				<label for="pipingMechanicalFatigue">Piping Mechanical Fatigue</label>
			</li>								
		</ul>
	</div>
</div>