<%- include('./partials/head.ejs'); %>
	<body>
		<%- include('./partials/header-menu.ejs'); %>
		<div class="main container">
			<section id="home" class="dataBox">
				<div class="dados-componente">
					<p> Área de explicação sobre RBI e sobre detalhes do programa</p>		
					<!-- <p> Área de criação e ajuste no cadastro de unidades e COLOCAR O SET DO DF TARGET e outros ajustes genéricos</p>		 -->
				</div>
			</section>
		</div>
	</body>
<%- include('./partials/footer.ejs'); %>


