<!------------------------------ SELEÇÃO MECANISMOS DE DANO ----------------------------------------->
<div class="dados-componente">
	<h2 class="titulo-dm">Mecanismos de Dano</h2>
	<div class="flag-dm">
		<ul class="js-dm-chb">
			<li>	
				<input type="checkbox" id="thinning" onclick="return false" checked>
				<label for="thinning">Thinning</label>
			</li>
			<li>	
				<input type="checkbox" id="lining">
				<label for="lining">Lining</label>
			</li>	
			<li>	
				<input type="checkbox" id="sccCaustic">
				<label for="sccCaustic">SCC Caustic</label>
			</li>
			<li>	
				<input type="checkbox" id="sccAmine">
				<label for="sccAmine">SCC Amine</label>
			</li>
			<li>	
				<input type="checkbox" id="sccSulfide">
				<label for="sccSulfide">SCC Sulfide</label>
			</li>	
			<li>	
				<input type="checkbox" id="hicSohicH2S">
				<label for="hicSohicH2S">HIC/SOHIC-H2S</label>
			</li>	
			<li>	
				<input type="checkbox" id="acscc">
				<label for="acscc">ACSCC</label>
			</li>	
			<li>	
				<input type="checkbox" id="pascc">
				<label for="pascc">PASCC</label>
			</li>	
			<li>	
				<input type="checkbox" id="sccChloride">
				<label for="sccChloride">SCC Chloride</label>
			</li>	
			<li>	
				<input type="checkbox" id="hscHF">
				<label for="hscHF">HSC-HF</label>
			</li>		
			<li>	
				<input type="checkbox" id="hicSohicHF">
				<label for="hicSohicHF">HIC/SOHIC-HF</label>
			</li>					
			<li>	
				<input type="checkbox" id="externalFerritic">
				<label for="externalFerritic">External Ferritic</label>
			</li>
			<li>	
				<input type="checkbox" id="cuiFerritic">
				<label for="cuiFerritic">CUI Ferritic</label>
			</li>
			<li>	
				<input type="checkbox" id="extclsccAustenitic">
				<label for="extclsccAustenitic">EXTCLSCC Aust.</label>
			</li>
			<li>	
				<input type="checkbox" id="cuiExtclsccAustenitic">
				<label for="cuiExtclsccAustenitic">CUI EXTCLSCC Austenitic</label>
			</li>
			<li>	
				<input type="checkbox" id="htha">
				<label for="htha">HTHA</label>
			</li>
			<li>	
				<input type="checkbox" id="brittleFracture">
				<label for="brittleFracture">Brittle Fracture</label>
			</li>
			<li>	
				<input type="checkbox" id="lowAlloySteelEmbrittlement">
				<label for="lowAlloySteelEmbrittlement">Low-Alloy Embrittlement</label>
			</li>
			<li>	
				<input type="checkbox" id="embrittlement885F">
				<label for="embrittlement885F">885°F Embrittlement</label>
			</li>		
			<li>	
				<input type="checkbox" id="sigmaPhaseEmbrittlement">
				<label for="sigmaPhaseEmbrittlement">Sigma Phase Embrittlement</label>
			</li>	
			<li>	
				<input type="checkbox" id="pipingMechanicalFatigue">
				<label for="pipingMechanicalFatigue">Piping Mechanical Fatigue</label>
			</li>								
		</ul>
	</div>
</div>