<div class="mecanismoDano dados-componente">
	<div class="menu-dm js-menu-dm">
		<ul>
			<li>							
				<button type="button" data-id="btnThinning">Thinning</button>
			</li>	
			<li>							
				<button type="button" data-id="btnLining">Lining</button>
			</li>
			<li>							
				<button type="button" data-id="btnsccCaustic">SCC Caustic</button>
			</li>	
			<li>							
				<button type="button" data-id="btnsccAmine">SCC Amine</button>
			</li>
			<li>							
				<button type="button" data-id="btnsccSulfide">SCC Sulfide</button>
			</li>	
			<li>							
				<button type="button" data-id="btnhicSohicH2S">HIC/SOHIC-H2S</button>
			</li>
			<li>							
				<button type="button" data-id="btnacscc">ACSCC</button>
			</li>	
			<li>							
				<button type="button" data-id="btnpascc">PASCC</button>
			</li>		
			<li>							
				<button type="button" data-id="btnsccChloride">SCC Chloride</button>
			</li>	
			<li>							
				<button type="button" data-id="btnhscHF">HSC-HF</button>
			</li>		
			<li>							
				<button type="button" data-id="btnhicSohicHF">HIC/SOHIC-HF</button>
			</li>	
			<li>							
				<button type="button" data-id="btnexternalFerritic">External Ferritic</button>
			</li>
			<li>							
				<button type="button" data-id="btncuiFerritic">CUI Ferritic</button>
			</li>	
			<li>							
				<button type="button" data-id="btnextclsccAustenitic">EXTCLSCC Austenitic</button>
			</li>
			<li>							
				<button type="button" data-id="btncuiExtclsccAustenitic">CUI EXTCLSCC Austenitic</button>
			</li>	
			<li>							
				<button type="button" data-id="btnHTHA">HTHA</button>
			</li>
			<li>							
				<button type="button" data-id="btnbrittleFracture">Brittle Fracture</button>
			</li>	
			<li>							
				<button type="button" data-id="btnlowAlloySteelEmbrittlement">Low Alloy Steel Embrittlement</button>
			</li>		
			<li>							
				<button type="button" data-id="btnembrittlement885F">885 °F Embrittlement</button>
			</li>	
			<li>							
				<button type="button" data-id="btnsigmaPhaseEmbrittlement">Sigma Phase Embrittlement</button>
			</li>	
			<li>							
				<button type="button" data-id="btnpipingMechanicalFatigue">Piping Mechanical Fatigue</button>
			</li>									
		</ul>
	</div>
	<%- include('./dm-data.ejs');%>
</div>