<div id="btnacscc" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedAcscc">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedAcscc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedAcscc">Cracks Removed?</label>
			<select id="crackingConfirmedAcscc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="pHOfWaterAcscc">pH of Water</label>
			<select id="pHOfWaterAcscc">
				<option value=""></option>
				<option value="<5-5">&lt 7,5</option>
				<option value="5-5to7-5">&#8805 7,5 to 8,0 &lt </option>
				<option value="5-5to7-5">&#8805 8,0 to 9,0 &lt </option>
				<option value=">9">&#8805 9,0</option>
			</select>									
		</li>
		<li>
			<label for="co3ConcentrationAcscc">CO3 Concentration</label>
			<select id="co3ConcentrationAcscc">
				<option value=""></option>
				<option value="<100">CO3 &lt 100 ppm</option>
				<option value=">100">CO3 &#8805 100 ppm</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastInspectionAcscc">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionAcscc" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_Acscc">N_A_Acscc</label>
			<input id="N_A_Acscc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_Acscc">N_B_Acscc</label>
			<input id="N_B_Acscc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_Acscc">N_C_Acscc</label>
			<input id="N_C_Acscc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_Acscc">N_D_Acscc</label>
			<input id="N_D_Acscc" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>