<div id="btnhicSohicH2S" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedHicSohicH2S">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedHicSohicH2S">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedHicSohicH2S">Cracks Removed?</label>
			<select id="crackingConfirmedHicSohicH2S">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="pHOfWaterHicSohicH2S">pH of Water</label>
			<select id="pHOfWaterHicSohicH2S">
				<option value=""></option>
				<option value="<5-5">&lt 5,5</option>
				<option value="5-5to7-5">5,5 to 7,5</option>
				<option value="5-5to7-5">7,6 to 8,3</option>
				<option value="5-5to7-5">8,4 to 8,9</option>
				<option value=">9">&gt 9,0</option>
			</select>
		</li>
		<li>
			<label for="H2SContentHicSohicH2S">H2S Content of Water</label>
			<select id="H2SContentHicSohicH2S">
				<option value=""></option>
				<option value="<50">&lt 50 ppm</option>
				<option value="50to1000">50 to 1000 ppm</option>
				<option value="1000to10000">1000 to 10000 ppm</option>
				<option value=">10000">&gt 10000 ppm</option>
			</select>
		</li>
		<li>
			<label for="cyanidesHicSohicH2S">Cyanides are present?</label>
			<select id="cyanidesHicSohicH2S">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="productFormHicSohicH2S">Sulfur Content / Product Form</label>
			<select id="productFormHicSohicH2S">
				<option value=""></option>
				<option value="high">High Sulfur Steel a &gt 0.01% S</option>
				<option value="low">Low Sulfur Steel &#8804 .01% S</option>
				<option value="productForm">Product Form—Seamless/Extruded Pipe</option>
			</select>
		</li>
		<li>
			<label for="fomHicSohicH2S">On-line Monitoring Method</label>
			<select id="fomHicSohicH2S">
				<option value=""></option>
				<option value="1">None</option>
				<option value="2">Key process variables</option>
				<option value="2">Hydrogen probes</option>
				<option value="4">Key process variables and hydrogen probes</option>
			</select>
		</li>
		<li class="revisar">
			<label for="lastInspectionHicSohicH2S">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionHicSohicH2S" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_hicSoHicH2S">N_A_hicSohicH2S</label>
			<input id="N_A_hicSoHicH2S" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_hicSoHicH2S">N_B_hicSohicH2S</label>
			<input id="N_B_hicSoHicH2S" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_HicSohicH2S">N_C_hicSohicH2S</label>
			<input id="N_C_HicSohicH2S" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_HicSohicH2S">N_D_hicSohicH2S</label>
			<input id="N_D_HicSohicH2S" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>