<div id="btnhscHF" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedHF">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedHF">Cracks Removed?</label>
			<select id="crackingConfirmedHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="presentHF">HF present?</label>
			<select id="presentHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="isCarbonSteelHF">Material is Carbon Steel?</label>
			<select id="carbonSteelHF">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="maxBrinnellHardnessHF">Max Brinnell Hardness</label>
			<select id="Max Brinnell Hardness">
				<option value=""></option>
				<option value="menor200">&lt 200</option>
				<option value="from200to237">200 to 237</option>
				<option value="maior237">&gt 237</option>
			</select>									
		</li>
		<li class="revisar">
			<label for="lastInspectionHF">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionHF" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_HF">N_A_HF</label>
			<input id="N_A_HF" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_HF">N_B_HF</label>
			<input id="N_B_HF" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_HF">N_C_HF</label>
			<input id="N_C_HF" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_HF">N_D_HF</label>
			<input id="N_D_HF" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>