<div id="btnLining" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="dateLining">Lining Installation Date</label>
			<input id= ="dateLining" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="dateLastLiningInspection">Date of last A/B Effectiveness Inspection</label>
			<input id= ="dateLastLiningInspection" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="liningType">Lining Type</label>
			<select id="liningType">
				<option value=""></option>
				<option value="StripLinedAlloyResistant">Strip Lined Alloy (Resistant)</option>
				<option value="CastableRefractory">Castable Refractory</option>
				<option value="CastableRefractory Severe Conditions">Castable Refractory Severe Conditions</option>
				<option value="GlassLined">Glass Lined</option>
				<option value="AcidBrick">Acid Brick</option>
				<option value="Fiberglass">Fiberglass</option>
				<option value="Low-qualityImmersionGradeCoatingSprayAppliedTo40Mils)">Low-quality Immersion Grade Coating (Spray Applied, to 40 mils)</option>
				<option value="Medium-qualityImmersionGradeCoatingFilledTrowelAppliedTo80mils">Medium-quality Immersion Grade Coating (Filled, Trowel Applied, to 80 mils)</option>
				<option value="High-qualityImmersionGradeCoatingReinforcedTrowelAppliedMore80mils">High-quality Immersion Grade Coating (Reinforced, Trowel Applied, ≥80 mils)</option>
			</select>
		</li>
		<li>
			<label for="liningCondition">Lining Condition</label>
			<select id="liningCondition">
				<option value=""></option>
				<option value="10">Poor</option>
				<option value="2">Average</option>
				<option value="1">Good</option>
			</select>
		</li>
		<li class="comentar">
			<label for="fomLining">On-line Monitoring</label>
			<select id="fomLining">
				<option value=""></option>
				<option value="0.1">On-line monitoring is used, and it is known to be effective at detecting lining deterioration</option>
				<option value="1">Otherwise</option>
			</select>
		</li>
	</ul>
</div>