<div id="btnpascc" class=" mecanismoDanoBox">				
	<ul>
		<li>
			<label for="crackingConfirmedPascc">Cracking is confirmed to be present?</label>
			<select id="crackingConfirmedPascc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="cracksRemovedPascc">Cracks Removed?</label>
			<select id="crackingConfirmedPascc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>
		</li>
		<li>
			<label for="exposedPascc">Exposed to S and O2 and H2O during operation or shutdown?</label>
			<select id="exposedPascc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>									
		</li>
		<li>
			<label for="downtimePascc">Use downtime protection according to NACE RP 0170?</label>
			<select id="downtimePascc">
				<option value=""></option>
				<option value="true">Yes</option>
				<option value="false">No</option>
			</select>									
		</li>
		<li>
			<label for="materialPascc">Material</label>
			<select id="materialPascc">
				<option value=""></option>
				<option value="alloy600-800">All regular 300 series SS and Alloys 600 and 800</option>
				<option value="HGrade">H Grade 300 series SS</option>
				<option value="LGrade">L Grade 300 series SS</option>
				<option value="ss321">321 SS</option>
				<option value="ss347">347 SS, Alloy 20, Alloy 625, all austenitic weld overlay</option>
			</select>
		</li>
		<li>
			<label for="heatTreatmentPascc">Heat Treatment History?</label>
			<select id="heatTreatmentPascc">
				<option value="default">Solution Annealed (default)</option>
				<option value="beforeWelding">Stabilized Before Welding</option>
				<option value="afterWelding">Stabilized After Welding</option>
			</select>									
		</li>
		<li class="revisar">
			<label for="lastInspectionPascc">Date Last Level A/B/C Inspection</label>
			<input id="lastInspectionPascc" type="date" max="9999-12-31">
		</li>
		<li class="revisar">
			<label for="N_A_Pascc">N_A_Pascc</label>
			<input id="N_A_Pascc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_B_Pascc">N_B_Pascc</label>
			<input id="N_B_Pascc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_C_Pascc">N_C_Pascc</label>
			<input id="N_C_Pascc" type="number" step="1" min="0" max="6">
		</li>	
		<li class="revisar">
			<label for="N_D_Pascc">N_D_Pascc</label>
			<input id="N_D_Pascc" type="number" step="1" min="0" max="6">
		</li>	
	</ul>
</div>