<div id="btnsccCaustic" class=" mecanismoDanoBox">				
	<div>
		<ul>
			<li>
				<label for="crackingConfirmedCaustic">Cracking is confirmed to be present?</label>
				<select id="crackingConfirmedCaustic">
					<option value=""></option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</li>
			<li>
				<label for="cracksRemovedCaustic">Cracks Removed?</label>
				<select id="cracksRemovedCaustic">
					<option value=""></option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</li>
			<li>
				<label for="NaOHConcentration">NaOH Concentration (%)</label>
				<input id="NaOHConcentration" type="number" step="any" min="0" max="100">
			</li>
			<li class="revisar">
				<label for="plotFigure6-1">Plot in Área "A" of figure 6.1?</label>
				<select id="plotFigure6-1">
					<option value=""></option>
					<option value="true">Yes</option>
					<option value="false">No</option>
				</select>
			</li>
			<li class="revisar">
				<label for="lastInspectionSccCaustic">Date Last Level A/B/C Inspection SCC Caustic</label>
				<input id="lastInspectionSccCaustic" type="date" max="9999-12-31">
			</li>
			<li class="revisar">
				<label for="N_A_Caustic">N_A_Caustic</label>
				<input id="N_A_Caustic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_B_Caustic">N_B_Caustic</label>
				<input id="N_B_Caustic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_C_Caustic">N_C_Caustic</label>
				<input id="N_C_Caustic" type="number" step="1" min="0" max="6">
			</li>	
			<li class="revisar">
				<label for="N_D_Caustic">N_D_Caustic</label>
				<input id="N_D_Caustic" type="number" step="1" min="0" max="6">
			</li>	
		</ul>
	</div>
	<div class = "figure">
		<p> Clique na imagem para ampliar</p>
		<img src="/img/grafico 6.1.jpg" alt="Figure 6.1 - Susceptibility of Caustic Cracking in Carbon Steel"></img>
	</div>
</div>