<%- include('./partials/head.ejs'); %>
	<body>
		<%- include('./partials/header-menu.ejs'); %>
		
		<div class="main container">
			<p> Incluir a árvore aqui, se for necessário </p>		
				<section id="inventarios" class="dataBox"> 
					<div class="dados-componente">
						<p> PÁGINA PARA MANIPULAR GRUPOS DE INVENTÁRIOS</p>
					</div>
				</section>
		</div>
	</body>
<%- include('./partials/footer.ejs'); %>
