<%- include('../../../partials/head.ejs'); %>
	<body>
		<%- include('../../../partials/header-menu/header-resultado.ejs'); %>
		<section class="unidade container-fluid">
				
			<%- include('../../../partials/offcanvas/offcanvas-resultado.ejs'); %>

		</section>
	</body>

<script>

	// Inserir o título //
	
	const pageTitle = document.querySelector("#page-title");
	
	pageTitle.innerText = "Petrobras | BRBI";
	
	// Ocultar btn-cadastro //
	
	

</script>
<%- include('../../../partials/footer.ejs'); %>